@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/variables";

// @import "vendors/bootstrap";
// @import "vendors/jquery-ui";

@import "base/base";
@import "base/reset";
@import "base/typography";

@import "layout/contenedor";
@import "layout/contenido";
@import "layout/navigation";
@import "layout/footer";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";

@import "pages/home";
@import "pages/contact";

@import "themes/theme";
@import "themes/admin";
