// Breakpoints
//_ Small devices (landscape phones, 576px and up)
$sm: 576px;
//_ Medium devices (tablets, 768px and up)
$md: 768px;
//_ Large devices (desktops, 992px and up)
$lg: 992px;
//_ Extra large devices (large desktops, 1200px and up)
$xl: 1200px;

// Typography
//_ Font family
$nova: "Nova Mono", monospace;
$coda: "Coda", serif;
